{% extends "base.html" %}
{% block content %}

<h2>{{ vehicle.displayName }}</h2>

<p><strong>VIN:</strong> {{ vehicle.vin }}</p>

<a href="{{ url_for('index') }}">← Back to Overview</a> |
<a href="{{ url_for('editVehicle', vehicleId=vehicle.id) }}">Edit Vehicle</a>
<a href="{{ url_for('printVehicle', vehicleId=vehicle.id) }}">
    📄 Download Vehicle Report
</a>

<hr>


<h3>Vehicle Data</h3>

<ul>
<li>First Registration: {{ vehicle.firstRegistration }}</li>
<li>Engine Oil: {{ vehicle.engineOil }}</li>
<li>Gearbox Oil: {{ vehicle.gearboxOil }}</li>
<li>Diff Oil: {{ vehicle.diffOil }}</li>
<li>Coolant: {{ vehicle.coolant }}</li>
<li>Fuel: {{ vehicle.fuel }}</li>
<li>Engine Code: {{ vehicle.engineCode }}</li>
<li>License Plate: {{ vehicle.licensePlate }}</li>
</ul>

<hr>

<h3>Vehicle Summary</h3>

<p>Total Income: {{ totalIncome }} €</p>
<p>Total Expenses: {{ totalCost }} €</p>
<p>Result: {{ result }} €</p>

<hr>

<h2>Orders</h2>

<a href="{{ url_for('addOrder', vehicleId=vehicle.id) }}">
Add Order
</a>

<ul>
{% for order in vehicle.orders %}
<li>
<a href="{{ url_for('order', orderId=order.id) }}">
{{ order.title }}
</a>
</li>
{% endfor %}
</ul>

{% endblock %}